body {
    border: 3px solid black;
    margin: 0;
    padding: 10px;
    max-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
#text1,#text2,#text3,#text4,#text5,#text6 {
    width: 97%;
}

.container1{
    height:100% ;
    width: 100%;
    margin: auto;
    padding: 10px;
    display: flex;
    border: solid 2px purple;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.container2 {
    border: 3px solid red;
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.container3 {
    border: solid 1px black;
    width: 30%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#calculatedPS {
    border: 3px solid green;
    width: 100px;
    background-image: url(personalSpending.jpg);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;

} 


#calculatedGS {
    border: 3px solid green;
    width: 100px;
    background-image: url(gassss.jpg);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;

}

#calculatedMIS {
    border: 3px solid green;
    width: 100px;
    background-image: url(monthlyInsurance.jpg);
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
}

#calculatedSavings {
    border: 3px solid green;
    width: 100px;
}